<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% if custom.countdown_show == '1' %}
<div class="container">
  <div class="banner-outer">
    <div class="banner-media">
    {{ content.field_header_media }}
    {% if custom.type != 'Video' and custom.type !='Vidéo' %}
      <div class="banner__text">
        <div class="inner">
          {{ content.field_header_text }}
          {{ content.field_header_link }}
        </div>
      </div>
    {% endif %}
    </div>
    <div class="timer-countdown" style="background-image: url({{ custom.countdown_img }}); background-size: cover;">
      <div class="timer-wrapper">
        <div class="countdown-header">
          <div class="countdown-text">{{ custom.countdown_text|raw }}</div>
          <div class="user-count">{{ 'Sewistas'|t }}: {{ custom.user_stats }}</div>
        </div>
        <div class="countdown-block">
          <div class="countdown-name">{{ custom.countdown_name|raw }}</div>
          <div id="timer" data="{{ custom.countdown_clock|raw }}">
            <div id="days"></div><div class="separator">:</div>
            <div id="hours"></div><div class="separator">:</div>
            <div id="minutes"></div><div class="separator">:</div>
            <div id="seconds"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% else %}
<div class="container">
  <div class="banner-outer">
    <div class="banner-media">
    {{ content.field_header_media }}
    {% if custom.type != 'Video' and custom.type !='Vidéo' %}
      <div class="banner__text">
        <div class="inner">
          {{ content.field_header_text }}
          {{ content.field_header_link }}
        </div>
      </div>
    {% endif %}
    </div>
    <div class="timer-countdown" style="background-image: url({{ custom.countdown_img }}); background-size: cover;">
      <div class="timer-wrapper">
        <div class="countdown-header">
          <div class="countdown-text">{{ custom.countdown_text|raw }}</div>
          <div class="user-count">{{ 'Sewistas'|t }}: {{ custom.user_stats }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="homepage__blocks">
  <div class="container">
    {{ custom.most_popular }}
    {{ custom.mailchimp }}
  </div>
</div>
{{ content.field_paragraphs }}
