
{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('content') }}>
   
    <!-- ===================== Blogs In Grid ===================== -->
<section>
    <div class="container">
        <div class="row">
            <!-- =============== Blog Detail ================= -->
            <div class="col-md-12 col-sm-12">

                <!-- /.Article -->
                <article class="blog-news detail-wrapper">
                    <div class="full-blog">

                        <!-- Featured Image -->
                        <figure class="img-holder">
                            <a href=""><img src="{{items.image}}" class="img-responsive" alt="News"></a>
                            <div class="blog-post-date theme-bg">
                                {{ date }}
                            </div>
                        </figure>

                        <!-- Blog Content -->
                        <div class="full blog-content">
                            <div class="post-meta">By: <a href="" class="author theme-cl">{{ author_name }}</a></div>
                            <a href=""><h3>{{items.title}}</h3></a>
                            <div class="blog-text">
                                <p>{{items.body|striptags}}</p>
                             {% if items.category %}  <div class="post-meta">Category: <span class="category"><a href="" class="theme-cl">{{items.category}}</a></span></div> {% endif %}
                             {% if items.tags %} <div class="post-meta">Tags: <span class="category"><a href="" class="theme-cl">{{items.tags}}</a></span></div> {% endif %}
                            </div>

                            <!-- Blog Share Option -->
                            {#<div class="row no-mrg">
                                <div class="blog-footer-social">
                                    <span>Share <i class="fa fa-share-alt"></i></span>
                                    <ul class="list-inline social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>#}
                        <!-- Blog Content -->

                    </div>
                </article>
                <!-- /.Article -->

                <!-- User Comments -->
                {#<div class="row no-mrg">
                    <div class="col-md-12 col-sm-12">
                        <div class="comments">      
                            <div class="comments-title">
                                <h4>Comments (2)</h4>
                            </div>

                            <!-- Single Comment -->
                            <div class="single-comment">
                                <div class="img-holder">
                                    <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="top">
                                        <div class="name pull-left">
                                            <h4>Robert Mil</h4>
                                        </div>
                                        <div class="rating pull-right">
                                            <ul>
                                                <li><i class="fa fa-star active"></i></li>
                                                <li><i class="fa fa-star active"></i></li>
                                                <li><i class="fa fa-star active"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                    </div>

                                    <span class="small">Dec 30 2017</span>
                                </div>
                            </div>

                            <!-- Single Comment -->
                            <div class="single-comment">
                                <div class="img-holder">
                                    <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                </div>
                                <div class="text-holder">

                                    <div class="top">
                                        <div class="name pull-left">
                                            <h4>Litha Dax</h4>
                                        </div>
                                        <div class="rating pull-right">
                                            <ul>
                                                <li><i class="fa fa-star active"></i></li>
                                                <li><i class="fa fa-star active"></i></li>
                                                <li><i class="fa fa-star active"></i></li>
                                                <li><i class="fa fa-star active"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                    </div>
                                    <span class="small">Dec 15 2017</span>

                                </div>

                                <div class="single-comment">
                                    <div class="img-holder">
                                        <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                    </div>
                                    <div class="text-holder">

                                        <div class="top">
                                            <div class="name pull-left">
                                                <h4>Robert Mil</h4>
                                            </div>
                                            <div class="rating pull-right">
                                                <ul>
                                                    <li><i class="fa fa-star active"></i></li>
                                                    <li><i class="fa fa-star active"></i></li>
                                                    <li><i class="fa fa-star active"></i></li>
                                                    <li><i class="fa fa-star active"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                        <span class="small">Dec 15 2017</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>#}
                <!-- /.User Comments -->

                <!-- Start Blog Comment -->
                {#<div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="comments-form"> 
                            <div class="section-title2">
                                <h4>Leave a Reply</h4>
                            </div>

                            <form>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Your Name">
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <input type="email" class="form-control" placeholder="Your Email">
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Your Mobile">
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <textarea class="form-control" placeholder="Comment"></textarea>
                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <button class="btn theme-btn width-200" type="submit">submit now</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>#}
                <!-- End Blog Comment -->

            </div>
            <!-- /.col-md-8 -->

            <!-- ===================== Blog Sidebar ==================== -->
         {#   <div class="col-md-4 col-sm-12">
                <div class="sidebar">

                    <!-- Start: Latest Blogs -->
                    <div class="widget-boxed">
                        <div class="widget-boxed-header">
                            <h4><i class="ti-check-box padd-r-10"></i>Latest Blogs</h4>
                        </div>
                        <div class="widget-boxed-body padd-top-5">
                            <div class="side-list">
                                <ul class="side-blog-list">
                                    <li>
                                        <a href="#">
                                            <div class="blog-list-img">
                                                <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="blog-list-info">
                                            <h5><a href="#" title="blog">Freel Documentry</a></h5>
                                            <div class="blog-post-meta">
                                                <span class="updated">Nov 26, 2017</span> | <a href="#" rel="tag">Documentry</a>					
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="blog-list-img">
                                                <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="blog-list-info">
                                            <h5><a href="#" title="blog">Preez Food Rock</a></h5>
                                            <div class="blog-post-meta">
                                                <span class="updated">Oct 10, 2017</span> | <a href="#" rel="tag">Food</a>					
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="blog-list-img">
                                                <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="blog-list-info">
                                            <h5><a href="#" title="blog">Cricket Buzz High</a></h5>
                                            <div class="blog-post-meta">
                                                <span class="updated">Oct 07, 2017</span> | <a href="#" rel="tag">Sport</a>					
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="blog-list-img">
                                                <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="blog-list-info">
                                            <h5><a href="#" title="blog">Tour travel Tick</a></h5>
                                            <div class="blog-post-meta">
                                                <span class="updated">Sep 27, 2017</span> | <a href="#" rel="tag">Travel</a>					
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End: Latest Blogs -->

                    <!-- Start: Listing Category -->
                    <div class="widget-boxed">
                        <div class="widget-boxed-header">
                            <h4><i class="ti-briefcase padd-r-10"></i>Top Categories</h4>
                        </div>
                        <div class="widget-boxed-body padd-top-10 padd-bot-0">
                            <div class="side-list">
                                <ul class="category-list">
                                    <li><a href="#">Business <span class="badge bg-g">4</span></a></li>
                                    <li><a href="#">Shopping <span class="badge bg-a">7</span></a></li>
                                    <li><a href="#">Photography <span class="badge bg-d">10</span></a></li>
                                    <li><a href="#">Intertainment <span class="badge bg-l">55</span></a></li>
                                    <li><a href="#">Education <span class="badge bg-o">8</span></a></li>
                                    <li><a href="#">Travel & Tour <span class="badge bg-y">17</span></a></li>
                                    <li><a href="#">Health & Fitness <span class="badge bg-s">9</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End: Listing Category -->

                    <!-- Start: Recent Listing -->
                    <div class="widget-boxed">
                        <div class="widget-boxed-header">
                            <h4><i class="ti-check-box padd-r-10"></i>Recent Blogs</h4>
                        </div>
                        <div class="widget-boxed-body padd-top-5">
                            <div class="side-list">
                                <ul class="side-blog-list">
                                    <li>
                                        <a href="#">
                                            <div class="blog-list-img">
                                                <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="blog-list-info">
                                            <h5><a href="#" title="blog">Freel Documentry</a></h5>
                                            <div class="blog-post-meta">
                                                <span class="updated">Nov 26, 2017</span> | <a href="#" rel="tag">Documentry</a>					
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="blog-list-img">
                                                <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="blog-list-info">
                                            <h5><a href="#" title="blog">Preez Food Rock</a></h5>
                                            <div class="blog-post-meta">
                                                <span class="updated">Oct 10, 2017</span> | <a href="#" rel="tag">Food</a>					
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="blog-list-img">
                                                <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="blog-list-info">
                                            <h5><a href="#" title="blog">Cricket Buzz High</a></h5>
                                            <div class="blog-post-meta">
                                                <span class="updated">Oct 07, 2017</span> | <a href="#" rel="tag">Sport</a>					
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="blog-list-img">
                                                <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="blog-list-info">
                                            <h5><a href="#" title="blog">Tour travel Tick</a></h5>
                                            <div class="blog-post-meta">
                                                <span class="updated">Sep 27, 2017</span> | <a href="#" rel="tag">Travel</a>					
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End: Recent Listing -->

                </div>
            </div>#}

        </div>

    </div>
</section>
<!-- ===================== End Blogs In Grid ===================== -->
  </div>

</article>
