<div class="fabric__teaser">
  <div class="fabric__teaser--image">
    <a href="{{ url }}">{{ content.field_fabric_image }}</a>
  </div>
  <h3 class="fabric__teaser--title"><a href="{{ url }}">{{ label }}</a></h3>
  <div class="fabric__teaser--washing-instructions">{{ content.field_washing_instructions }}</div>
  <div class="fabric__teaser--more">
    <a href="{{ url }}">{{ 'details'|t }} <i class="fa fa-angle-right"></i></a>
  </div>
</div>