{#
/**
 * @file
 * Theme override to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 */
#}
{% set currentYear = title|striptags|trim|raw %}
{% set selectedYear = search_param['school_year'] %}
{% set customClass = '' %}
{% set yearIndex = '' %}
{% if selectedYear == currentYear %}
  {% set customClass = 'yearItem-0' %}
  {% set yearIndex = 0 %}
{% elseif (selectedYear+1) == currentYear %}
   {% set customClass = 'yearItem-1' %}
   {% set yearIndex = 1 %}
{% elseif (selectedYear+2) == currentYear %}
   {% set customClass = 'yearItem-2' %}
   {% set yearIndex = 2 %}
{% elseif (selectedYear+3) == currentYear %}
   {% set customClass = 'yearItem-3' %}
   {% set yearIndex = 3 %}
{% elseif (selectedYear+4) == currentYear %}
   {% set customClass = 'yearItem-4' %}
   {% set yearIndex = 4 %}
{% endif %}
<div class="view-grouping {{ customClass }}" data-yearclass="{{ customClass }}" data-yearindex="{{ yearIndex }}" data-year="{{ currentYear }}">
  {#<div class="view-grouping-header">{{ title }}</div>
  <div class="view-grouping-content">{{ content }}</div>#}
  {{ content }}
</div>
