<html>
<head>
  <style type="text/css">
    table tr td {
      font-family: Arial;
      font-size: 12px;
    }
    pre {
      font-family: monospace;
      font-size: 10px;
    }
  </style>
</head>
<body>
<div>
  <p>Eloqua services are currently experiencing technical issues. During this time the following form data was not submitted.</p>
  <p>If this form submission data appears legitimate, please forward it to the OPS team so they can upload it into Eloqua.</p>
  <table width="800px" cellpadding="0" cellspacing="0">
    {%- for field_id,field_value in message.params -%}
      <tr>
        <td><b>{{- field_id -}}</b></td>
        <td>{{- field_value -}}</td>
      </tr>
    {%- endfor -%}
  </table>
  <hr>
  <pre>
      {%- for field_id,field_value in message.params -%}
        {%- if loop.last -%}
          {{- field_id -}}
        {%- else -%}
          {{- field_id -}},
        {%- endif -%}
      {%- endfor -%}
    </pre>
  <pre>
     {%- for field_id,field_value in message.params -%}
       {%- if loop.last -%}
         {{- field_value -}}
       {%- else -%}
         {{- field_value -}},
       {%- endif -%}
     {%- endfor -%}
   </pre>
</div>
</body>
</html>
