{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}



{% if label_hidden %}
  <div{{ attributes.addClass(classes) }}>
    {% for item in items %}
      {% if multiple %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% else %}
        {{ item.content }}
      {% endif %}
    {% endfor %}
  </div>
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label|t }}:</div>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>
      <a href="http://{{ item.content }}" target="_blank">{{ item.content }}</a>
      </div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
