{# {% if comments %} #}
<div id="comments" class="comments">

  <div class="container">

    {% if comments %}
      {# <h2>{{ 'Talk about this project'|t }}</h2> #}
      <h2>{{ label }}</h2>
    {% endif %}

    {{ comments }}

    {% if comment_form %}
      <h2{{ content_attributes }}>{{ 'Add new comment'|t }}</h2>
      {{ comment_form }}
    {% endif %}

  </div>

</div>
{# {% endif %} #}
