{# empty Twig template #}
<div class="col-sm-6">
    <div class="form-text">
        <div{{ attributes }}>
            {{ title_prefix }}
            {% if label %}
                <h2{{ title_attributes }}>{{ label }}</h2>
            {% endif %}
            {{ title_suffix }}
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>
</div>