{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    {{ header }}
  {% endif %}
  {#{ exposed }#}
  <div class="table-grid explore-occupation-grid" id="employmentSectorGraphData" style="display: none  ;">
    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
  </div>
  <div class="graph-container employmentSectorMultiSearchGraphContainer" style="display: none">
    <div class="graph-container__title">{{'Top Employment Industries'|trans }} 
    <select class="select-filter" id="afterYearFilter">
        <option value="1" data-groupIndex="0">1 Year</option>
        <option value="2" data-groupIndex="1">2 Years</option>
        <option value="3" data-groupIndex="2">3 Years</option>
        <option value="4" data-groupIndex="3">4 Years</option>
        <option value="5" data-groupIndex="4">5 Years</option>
    </select>
  {{ 'After Graduation'|trans}}</div>
    <div class="graph-container__sorting-container">
      <div class="graph-container__sorting empBySector">
        {{'Show data by'|trans}}
        <div class="graph-container__filters">
          <label>{{'Gender'|trans}} <input type="checkbox" name="gender" class="toggleDrilldown" id="1"></label>
          <div class="graph-container__filters-dropdown" style="display: none;">
            <ul>
              <li><label><input type="checkbox" id="All" checked> {{'All'|trans}}</label></li>
              <li><label><input type="checkbox" id="Male"> {{'Male'|trans}}</label></li>
              <li><label id="femaleData"><input type="checkbox" id="Female"> {{'Female'|trans}}</label></li>
            </ul>
          </div>
        </div>
        <div class="graph-container__filters">
          <label>{{'Race'|trans}} <input type="checkbox" name="race" class="toggleDrilldown" id="1"></label>
          <div class="graph-container__filters-dropdown" style="display: none;">
            <ul>
              <li><label><input type="checkbox" id="All" checked> {{'All'|trans}}</label></li>
              <li><label><input type="checkbox" id="Asian" checked> {{'Asian'|trans}}</label></li>
              <li><label><input type="checkbox" id="Black" checked> {{'Black'|trans}}</label></li>
              <li><label><input type="checkbox" id="White" checked> {{'White'|trans}}</label></li>
              <li><label><input type="checkbox" id="Other" checked> {{'Other'|trans}}</label></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="graph-container__icons">
        <img class="graph-view-action1" src="/themes/custom/nc_towers/images/chart-view.jpg">
        <img class="table-view-action1" src="/themes/custom/nc_towers/images/table-view.jpg">
      </div>
    </div>
    <div class="graph-container__toggle">
      <div id="employmentSectorGraph" class="graph-view-container1"></div>
    </div>
  </div>
  {{ pager }}
  {{ more }}
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>