
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    {{ header }}
  {% endif %}
  {#{ exposed }#}
  <div class="table-grid explore-occupation-grid" id="employmentSectorGraphData" style="display: none;">
    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
  </div>
  <div class="graph-container" style="display: none">
    <div class="graph-container__title">Top Employment Industries
      <select class="select-filter" id="afterYearFilter">
        <option value="1" data-groupIndex="0">1 Year</option>
        <option value="2" data-groupIndex="1">2 Years</option>
        <option value="3" data-groupIndex="2">3 Years</option>
        <option value="4" data-groupIndex="3">4 Years</option>
        <option value="5" data-groupIndex="4">5 Years</option>
      </select>  After Graduation
      </div>
    <div class="graph-container__sorting-container">
      <div class="graph-container__sorting 2ndchart employment-sector-filter">
        Show data by
        <div class="graph-container__filters">
          <label>Gender <input type="checkbox" name="gender" class="toggleDrilldown" id="1"></label>
          <div class="graph-container__filters-dropdown" style="display: none;">
            <ul>
              <li><label><input type="checkbox" id="All" checked> All</label></li>
              <li><label><input type="checkbox" id="Male"> Male</label></li>
              <li><label id="femaleData"><input type="checkbox" id="Female"> Female</label></li>
            </ul>
          </div>
        </div>
        <div class="graph-container__filters">
          <label>Race <input type="checkbox" name="race" class="toggleDrilldown" id="1"></label>
          <div class="graph-container__filters-dropdown" style="display: none;">
            <ul>
              <li><label><input type="checkbox" id="All" checked> All</label></li>
              <li><label><input type="checkbox" id="Asian" checked> Asian</label></li>
              <li><label><input type="checkbox" id="Black" checked> Black</label></li>
              <li><label><input type="checkbox" id="White" checked> White</label></li>
              <li><label><input type="checkbox" id="Other" checked> Other</label></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="graph-container__icons">
        <img class="graph-view-action1" src="/themes/custom/nc_towers/images/chart-view.jpg">
        <img class="table-view-action1" src="/themes/custom/nc_towers/images/table-view.jpg">
      </div>
    </div>
    <div class="graph-container__toggle employmentSector">
      <div id="employmentSectorGraph1" class="graph-view-container1"></div>
      {# <div id="employmentSectorGraph2" class="graph-view-container"></div>
      <div id="employmentSectorGraph3" class="graph-view-container"></div>
      <div id="employmentSectorGraph4" class="graph-view-container"></div>
      <div id="employmentSectorGraph5" class="graph-view-container"></div> #}
    </div>
  </div>
  {{ pager }}
  {{ more }}
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>